.details__content {
    margin-top:25px;
    display:grid; 
    grid-template-columns: 3fr 1fr;
}
.list__videos {
    display: flex; 
    flex-direction: column;
}
.label__video {
    margin-left: 3%; 
    margin-right: 3%;
}
.title__video {
    font-size: 25px;
    font-weight: bold;
}
.user_video {
    font-weight: bold;
}
.desc__video{
    font-size: 17px;
}
:host >>> .contenedor__preview {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-gap: 10px;
    width: 410px !important;
    padding-bottom: 12px;
    border-bottom: 1px solid #80808075;
    margin-bottom: 12px !important;
}
:host >>> .container__videos {
    width: 100% !important;
}