
<article class="details__content">
        <section>
                <video style="width: 94%; margin-left: 3%; margin-right: 3%;" [src]="video.link" controls autoplay>
                        Your browser does not support HTML5 video.
                </video>
                <label class="label__video title__video">{{video.title}}</label><br />
                <label class="label__video">imageuser - nameuser</label><br />
                <label class="label__video desc__video">{{video.description}}</label>
                <app-dislike-button
                        [video]="video"
                        (toggle)="onToggleDisLike($event)"
                        class="pull-xs-right">
                        {{video.dislikesCount}}
                </app-dislike-button>
                <app-like-button
                        [video]="video"
                        (toggle)="onToggleLike($event)"
                        class="pull-xs-right">
                        {{video.likesCount}}
                </app-like-button>
        </section>
        <app-video-list class="list__videos"[limit]="6" [config]="listConfig" [exclude]="video.id"></app-video-list>
</article>