.nav-link {
  	cursor:pointer;
}

.tag-pill{
  	cursor:pointer;
}
.home__title {
	margin-top: 30px;
}
.home__suggested {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.label__box {
	border-radius: 5px;
	background: #338fe7;
	color: white;
	font-size: 15px;
	margin: 1.5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
}
.box__blpr {
	background-color: #3f44b1;
}
