<div class="home-page">
	<article *ngIf="video" style="display: flex; justify-content: center;">
		<section style=" width:75%; margin: 40px; display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
			<section style="display:flex;  justify-content:center; align-items:start;">
				<video style="max-width:550px;" controls poster={{video.thumbnail}}>
					<source [src]="video.video" type="video/mp4">Your browser does not support HTML5 video.
				</video>
			</section>
		   <section style="max-width:550px;">
			   <label>{{video.title}}</label>
			   <label>{{video.description}}</label>
		   </section>
		</section>
	</article>
	<article style="display:grid; grid-template-columns: 1fr 4fr;">
		<label></label>
		<h5 class="home__title">Recommended</h5>
	</article>
	<article class="home__suggested">
		<section>
			<section *ngIf="labelsLoaded">
				<label (click)="setListTo('all',{})" class="label__box box__blpr">All</label>
				<label (click)="setListTo('all',{label:label})" class="label__box" *ngFor="let label of labels">
					{{label}}
				</label>
			</section>
		</section>
		<app-video-list [limit]="limit" [config]="listConfig"></app-video-list>
	</article>
</div>
