<nav class="navbar navbar-light">
  <div class="container" style="display:grid; grid-template-columns:0.5fr 3fr 3fr;">
    <div class="navbar-brand" routerLink="/" style=" display:flex; align-items:center; color:#3e9be4 !important;">
      <img src="http://daniortizgar.tk/holup.svg" style="width:21px;" />
      <label style="margin:0px;">holup</label>
    </div>

    <app-search style="display:flex; align-items:center;"></app-search>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/contact"
          routerLinkActive="active">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/upload"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Upload Video
        </a>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>-->

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/contact"
          routerLinkActive="active">
          Contact
        </a>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>-->

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav>
